In [2]:
import pandas as pd
import csv

In [3]:
tax_csv = pd.read_csv("tax_revenue.csv")
tax_chi_cbg = pd.read_csv("More_tax_rev_China_included.csv", skiprows =1)

In [4]:
# TAX CHI 
tax_chi_cbg = tax_chi_cbg.reset_index()

In [5]:
# TAX CHI 
tax_chi_cbg.columns = tax_chi_cbg.iloc[0]
tax_chi_cbg

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
0,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,NaN
1,Aruba,ABW,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.659359e+10,7.582371e+10,7.929741e+10,8.111484e+10,8.096584e+10,9.275076e+10,1.162095e+11,1.272407e+11,NaN,NaN
3,Angola,AGO,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.278470e+12,1.691010e+12,1.812070e+12,1.871680e+12,1.939827e+12,1.534814e+12,1.610688e+12,1.868949e+12,NaN,NaN
4,Albania,ALB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.343986e+11,2.330185e+11,2.228029e+11,2.553678e+11,2.655733e+11,2.590124e+11,2.928780e+11,NaN,NaN
5,Andorra,AND,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,United Arab Emirates,ARE,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.139235e+09,5.004550e+09,5.307334e+09,5.266556e+09,7.593473e+08,5.703234e+08,9.411244e+08,NaN,NaN
8,Argentina,ARG,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.135817e+11,2.759435e+11,3.416848e+11,4.169616e+11,5.774671e+11,7.345786e+11,9.953838e+11,1.166189e+12,NaN,NaN
9,Armenia,ARM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.906584e+11,6.505403e+11,7.462740e+11,9.833898e+11,1.042943e+12,1.055694e+12,1.078187e+12,1.156338e+12,NaN,NaN
10,American Samoa,ASM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Antigua and Barbuda,ATG,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Australia,AUS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.671610e+11,2.880660e+11,3.178640e+11,3.383690e+11,3.515120e+11,3.574030e+11,3.699140e+11,3.897800e+11,NaN,NaN
13,Austria,AUT,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.480751e+10,7.885947e+10,8.262099e+10,8.556144e+10,8.801019e+10,9.235424e+10,9.089963e+10,9.388080e+10,NaN,NaN
14,Azerbaijan,AZE,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.162800e+09,6.366900e+09,6.995500e+09,7.789600e+09,8.387400e+09,8.485000e+09,8.795200e+09,9.259300e+09,NaN,NaN
15,Burundi,BDI,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.465440e+11,4.379230e+11,4.879200e+11,5.142210e+11,NaN,NaN,NaN,NaN,NaN,NaN
16,Belgium,BEL,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.883950e+10,9.368210e+10,9.960510e+10,1.027553e+11,1.050173e+11,1.012434e+11,9.795600e+10,1.039213e+11,NaN,NaN
17,Benin,BEN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Burkina Faso,BFA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.657500e+11,6.956340e+11,8.907780e+11,9.926100e+11,9.406816e+11,9.289913e+11,1.075300e+12,1.250051e+12,NaN,NaN
19,Bangladesh,BGD,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.248464e+11,7.954820e+11,9.522755e+11,1.074524e+12,1.160314e+12,1.288182e+12,1.518860e+12,NaN,NaN,NaN
20,Bulgaria,BGR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.379598e+10,1.432602e+10,1.556866e+10,1.628566e+10,1.635362e+10,1.789340e+10,1.886462e+10,2.029492e+10,NaN,NaN
21,Bahrain,BHR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.137200e+08,1.205515e+08,NaN,1.309000e+08,NaN,NaN,NaN,NaN,NaN,NaN
22,"Bahamas, The",BHS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.098106e+09,1.296904e+09,1.276645e+09,1.215545e+09,1.245545e+09,1.500448e+09,1.676235e+09,1.836596e+09,NaN,NaN
23,Bosnia and Herzegovina,BIH,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.993262e+09,5.326432e+09,5.369766e+09,5.289218e+09,5.410979e+09,5.699004e+09,5.966386e+09,6.356618e+09,NaN,NaN
24,Belarus,BLR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.782247e+09,4.457840e+09,8.029690e+09,8.957020e+09,1.023173e+10,1.274300e+10,1.309179e+10,1.376736e+10,NaN,NaN
25,Belize,BLZ,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.593440e+08,6.711220e+08,7.040641e+08,7.518624e+08,8.494193e+08,8.643299e+08,9.246727e+08,9.674442e+08,NaN,NaN
26,Bermuda,BMU,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bolivia,BOL,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Brazil,BRA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.293863e+11,6.223269e+11,6.572849e+11,7.166597e+11,7.374919e+11,7.689515e+11,8.005068e+11,8.326487e+11,NaN,NaN
29,Barbados,BRB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.238992e+09,2.417521e+09,2.256243e+09,2.158077e+09,2.208883e+09,2.394448e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Timor-Leste,TLS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.716223e+08,1.412472e+09,1.713446e+09,1.310100e+09,9.089170e+08,5.751434e+08,2.475125e+08,3.205975e+08,NaN,NaN
237,Middle East & North Africa (IDA & IBRD countries),TMN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Tonga,TON,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.357258e+08,1.418505e+08,1.609174e+08,1.811840e+08,2.116530e+08,NaN,NaN
239,South Asia (IDA & IBRD),TSA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Sub-Saharan Africa (IDA & IBRD countries),TSS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Trinidad and Tobago,TTO,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.707440e+10,4.180130e+10,4.356890e+10,4.464160e+10,4.728660e+10,4.229810e+10,NaN,NaN,NaN,NaN
242,Tunisia,TUN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.269860e+10,1.366790e+10,1.486440e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Turkey,TUR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.251050e+11,2.613820e+11,2.887060e+11,3.353740e+11,3.694313e+11,4.265269e+11,4.780065e+11,5.552347e+11,NaN,NaN
244,Tuvalu,TUV,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,Tanzania,TZA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.428787e+12,5.286418e+12,6.501708e+12,7.824560e+12,9.386881e+12,9.899598e+12,1.234284e+13,1.405517e+13,1.509179e+13,NaN
246,Uganda,UGA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.892489e+12,1.118056e+13,1.259322e+13,NaN,NaN
247,Ukraine,UKR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.680598e+11,2.406940e+11,2.572870e+11,2.573090e+11,2.744466e+11,4.066844e+11,4.682504e+11,5.978066e+11,NaN,NaN
248,Upper middle income,UMC,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Uruguay,URY,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.526168e+11,1.769510e+11,1.959755e+11,2.243710e+11,2.470318e+11,2.694699e+11,3.767872e+11,3.369891e+11,NaN,NaN
250,United States,USA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288700e+12,1.488000e+12,1.586800e+12,1.765700e+12,1.918900e+12,2.041400e+12,2.054600e+12,2.328000e+12,NaN,NaN
251,Uzbekistan,UZB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.276601e+13,1.680926e+13,2.115770e+13,2.516667e+13,3.001021e+13,3.431072e+13,3.695980e+13,NaN,NaN
252,St. Vincent and the Grenadines,VCT,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.214737e+08,4.121385e+08,4.305780e+08,4.206340e+08,4.683200e+08,4.812200e+08,5.354100e+08,5.423700e+08,NaN,NaN
253,"Venezuela, RB",VEN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,British Virgin Islands,VGB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Virgin Islands (U.S.),VIR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Vietnam,VNM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.817110e+14,6.173680e+14,6.158670e+14,6.835140e+14,NaN,NaN,NaN,NaN,NaN,NaN
257,Vanuatu,VUT,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.052580e+10,1.132960e+10,1.204184e+10,1.306932e+10,1.374768e+10,1.346738e+10,1.423093e+10,1.625370e+10,NaN,NaN
258,World,WLD,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Samoa,WSM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540383e+08,3.425957e+08,3.605339e+08,4.060295e+08,4.303600e+08,4.420223e+08,4.975621e+08,5.174560e+08,NaN,NaN
260,Kosovo,XKX,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,"Yemen, Rep.",YEM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,South Africa,ZAF,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.881425e+11,7.613520e+11,8.325999e+11,9.219484e+11,1.009985e+12,1.107351e+12,1.181549e+12,1.254887e+12,NaN,NaN
263,Zambia,ZMB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.247751e+10,1.678054e+10,1.954949e+10,2.171162e+10,2.632927e+10,2.639580e+10,2.885596e+10,3.739301e+10,NaN,NaN
264,Zimbabwe,ZWE,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.099453e+09,2.528228e+09,3.052517e+09,NaN,NaN,3.605384e+09,3.237084e+09,3.602893e+09,NaN,NaN

In [6]:
# TAX CHI 
tax_chi_cbg = tax_chi_cbg.drop([0])
tax_chi_cbg

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
1,Aruba,ABW,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.659359e+10,7.582371e+10,7.929741e+10,8.111484e+10,8.096584e+10,9.275076e+10,1.162095e+11,1.272407e+11,NaN,NaN
3,Angola,AGO,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.278470e+12,1.691010e+12,1.812070e+12,1.871680e+12,1.939827e+12,1.534814e+12,1.610688e+12,1.868949e+12,NaN,NaN
4,Albania,ALB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.343986e+11,2.330185e+11,2.228029e+11,2.553678e+11,2.655733e+11,2.590124e+11,2.928780e+11,NaN,NaN
5,Andorra,AND,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,United Arab Emirates,ARE,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.139235e+09,5.004550e+09,5.307334e+09,5.266556e+09,7.593473e+08,5.703234e+08,9.411244e+08,NaN,NaN
8,Argentina,ARG,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.135817e+11,2.759435e+11,3.416848e+11,4.169616e+11,5.774671e+11,7.345786e+11,9.953838e+11,1.166189e+12,NaN,NaN
9,Armenia,ARM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.906584e+11,6.505403e+11,7.462740e+11,9.833898e+11,1.042943e+12,1.055694e+12,1.078187e+12,1.156338e+12,NaN,NaN
10,American Samoa,ASM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Antigua and Barbuda,ATG,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Australia,AUS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.671610e+11,2.880660e+11,3.178640e+11,3.383690e+11,3.515120e+11,3.574030e+11,3.699140e+11,3.897800e+11,NaN,NaN
13,Austria,AUT,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.480751e+10,7.885947e+10,8.262099e+10,8.556144e+10,8.801019e+10,9.235424e+10,9.089963e+10,9.388080e+10,NaN,NaN
14,Azerbaijan,AZE,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.162800e+09,6.366900e+09,6.995500e+09,7.789600e+09,8.387400e+09,8.485000e+09,8.795200e+09,9.259300e+09,NaN,NaN
15,Burundi,BDI,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.465440e+11,4.379230e+11,4.879200e+11,5.142210e+11,NaN,NaN,NaN,NaN,NaN,NaN
16,Belgium,BEL,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.883950e+10,9.368210e+10,9.960510e+10,1.027553e+11,1.050173e+11,1.012434e+11,9.795600e+10,1.039213e+11,NaN,NaN
17,Benin,BEN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Burkina Faso,BFA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.657500e+11,6.956340e+11,8.907780e+11,9.926100e+11,9.406816e+11,9.289913e+11,1.075300e+12,1.250051e+12,NaN,NaN
19,Bangladesh,BGD,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.248464e+11,7.954820e+11,9.522755e+11,1.074524e+12,1.160314e+12,1.288182e+12,1.518860e+12,NaN,NaN,NaN
20,Bulgaria,BGR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.379598e+10,1.432602e+10,1.556866e+10,1.628566e+10,1.635362e+10,1.789340e+10,1.886462e+10,2.029492e+10,NaN,NaN
21,Bahrain,BHR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.137200e+08,1.205515e+08,NaN,1.309000e+08,NaN,NaN,NaN,NaN,NaN,NaN
22,"Bahamas, The",BHS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.098106e+09,1.296904e+09,1.276645e+09,1.215545e+09,1.245545e+09,1.500448e+09,1.676235e+09,1.836596e+09,NaN,NaN
23,Bosnia and Herzegovina,BIH,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.993262e+09,5.326432e+09,5.369766e+09,5.289218e+09,5.410979e+09,5.699004e+09,5.966386e+09,6.356618e+09,NaN,NaN
24,Belarus,BLR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.782247e+09,4.457840e+09,8.029690e+09,8.957020e+09,1.023173e+10,1.274300e+10,1.309179e+10,1.376736e+10,NaN,NaN
25,Belize,BLZ,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.593440e+08,6.711220e+08,7.040641e+08,7.518624e+08,8.494193e+08,8.643299e+08,9.246727e+08,9.674442e+08,NaN,NaN
26,Bermuda,BMU,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bolivia,BOL,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Brazil,BRA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.293863e+11,6.223269e+11,6.572849e+11,7.166597e+11,7.374919e+11,7.689515e+11,8.005068e+11,8.326487e+11,NaN,NaN
29,Barbados,BRB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.238992e+09,2.417521e+09,2.256243e+09,2.158077e+09,2.208883e+09,2.394448e+09,NaN,NaN,NaN,NaN
30,Brunei Darussalam,BRN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Timor-Leste,TLS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.716223e+08,1.412472e+09,1.713446e+09,1.310100e+09,9.089170e+08,5.751434e+08,2.475125e+08,3.205975e+08,NaN,NaN
237,Middle East & North Africa (IDA & IBRD countries),TMN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Tonga,TON,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.357258e+08,1.418505e+08,1.609174e+08,1.811840e+08,2.116530e+08,NaN,NaN
239,South Asia (IDA & IBRD),TSA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Sub-Saharan Africa (IDA & IBRD countries),TSS,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Trinidad and Tobago,TTO,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.707440e+10,4.180130e+10,4.356890e+10,4.464160e+10,4.728660e+10,4.229810e+10,NaN,NaN,NaN,NaN
242,Tunisia,TUN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.269860e+10,1.366790e+10,1.486440e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Turkey,TUR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.251050e+11,2.613820e+11,2.887060e+11,3.353740e+11,3.694313e+11,4.265269e+11,4.780065e+11,5.552347e+11,NaN,NaN
244,Tuvalu,TUV,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,Tanzania,TZA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.428787e+12,5.286418e+12,6.501708e+12,7.824560e+12,9.386881e+12,9.899598e+12,1.234284e+13,1.405517e+13,1.509179e+13,NaN
246,Uganda,UGA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.892489e+12,1.118056e+13,1.259322e+13,NaN,NaN
247,Ukraine,UKR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.680598e+11,2.406940e+11,2.572870e+11,2.573090e+11,2.744466e+11,4.066844e+11,4.682504e+11,5.978066e+11,NaN,NaN
248,Upper middle income,UMC,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Uruguay,URY,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.526168e+11,1.769510e+11,1.959755e+11,2.243710e+11,2.470318e+11,2.694699e+11,3.767872e+11,3.369891e+11,NaN,NaN
250,United States,USA,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288700e+12,1.488000e+12,1.586800e+12,1.765700e+12,1.918900e+12,2.041400e+12,2.054600e+12,2.328000e+12,NaN,NaN
251,Uzbekistan,UZB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.276601e+13,1.680926e+13,2.115770e+13,2.516667e+13,3.001021e+13,3.431072e+13,3.695980e+13,NaN,NaN
252,St. Vincent and the Grenadines,VCT,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.214737e+08,4.121385e+08,4.305780e+08,4.206340e+08,4.683200e+08,4.812200e+08,5.354100e+08,5.423700e+08,NaN,NaN
253,"Venezuela, RB",VEN,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,British Virgin Islands,VGB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Virgin Islands (U.S.),VIR,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Vietnam,VNM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.817110e+14,6.173680e+14,6.158670e+14,6.835140e+14,NaN,NaN,NaN,NaN,NaN,NaN
257,Vanuatu,VUT,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.052580e+10,1.132960e+10,1.204184e+10,1.306932e+10,1.374768e+10,1.346738e+10,1.423093e+10,1.625370e+10,NaN,NaN
258,World,WLD,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Samoa,WSM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.540383e+08,3.425957e+08,3.605339e+08,4.060295e+08,4.303600e+08,4.420223e+08,4.975621e+08,5.174560e+08,NaN,NaN
260,Kosovo,XKX,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,"Yemen, Rep.",YEM,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,South Africa,ZAF,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.881425e+11,7.613520e+11,8.325999e+11,9.219484e+11,1.009985e+12,1.107351e+12,1.181549e+12,1.254887e+12,NaN,NaN
263,Zambia,ZMB,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.247751e+10,1.678054e+10,1.954949e+10,2.171162e+10,2.632927e+10,2.639580e+10,2.885596e+10,3.739301e+10,NaN,NaN
264,Zimbabwe,ZWE,Tax revenue (current LCU),GC.TAX.TOTL.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.099453e+09,2.528228e+09,3.052517e+09,NaN,NaN,3.605384e+09,3.237084e+09,3.602893e+09,NaN,NaN

In [7]:
# Tax Chi
tax_chi_cbg = tax_chi_cbg.drop(tax_chi_cbg.columns[2:51], axis = 1)
tax_chi_cbg = tax_chi_cbg.set_index(["Country Name"], drop = True)
tax_chi_cbg = tax_chi_cbg.loc[['China','Cambodia','Brazil','Russian Federation']]
tax_chi_cbg.reset_index()

,Country Name,Country Code,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
0,China,CHN,2.639182e+12,3.224826e+12,3.593023e+12,4.208582e+12,5.032027e+12,NaN,5.874921e+12,6.228802e+12,6.459369e+12,6.809299e+12,NaN,NaN,NaN
1,Cambodia,KHM,3.398033e+12,4.429845e+12,4.154019e+12,4.706229e+12,5.287416e+12,6.281727e+12,7.407590e+12,9.863731e+12,1.070714e+13,1.204483e+13,1.418309e+13,NaN,NaN
2,Brazil,BRA,4.291360e+11,4.817960e+11,4.805420e+11,5.293863e+11,6.223269e+11,6.572849e+11,7.166597e+11,7.374919e+11,7.689515e+11,8.005068e+11,8.326487e+11,NaN,NaN
3,Russian Federation,RUS,5.502900e+12,6.529200e+12,5.028000e+12,6.042500e+12,8.388430e+12,9.367400e+12,9.439600e+12,1.047571e+13,8.842240e+12,7.862231e+12,9.449201e+12,NaN,NaN

In [8]:
tax_csv = tax_csv.drop(columns = {"Flag Codes","INDICATOR",'SUBJECT','FREQUENCY'})

In [9]:
tax_csv = tax_csv.rename(columns = {"Value":"Tax Revenue (In Millions)"})
tax_csv.head()

  LOCATION MEASURE  TIME  Tax Revenue (In Millions)
0      AUS  PC_GDP  1965                     20.639
1      AUS  PC_GDP  1966                     19.860
2      AUS  PC_GDP  1967                     20.439
3      AUS  PC_GDP  1968                     20.371
4      AUS  PC_GDP  1969                     20.713

In [10]:
# Canada
CAN_CSV = tax_csv.loc[tax_csv["LOCATION"]=="CAN"].loc[tax_csv["MEASURE"]=="MLN_USD"]
CAN_CSV = CAN_CSV[42:52]
CAN_CSV

     LOCATION  MEASURE  TIME  Tax Revenue (In Millions)
1789      CAN  MLN_USD  2007                    477.199
1790      CAN  MLN_USD  2008                    484.818
1791      CAN  MLN_USD  2009                    445.313
1792      CAN  MLN_USD  2010                    501.431
1793      CAN  MLN_USD  2011                    552.470
1794      CAN  MLN_USD  2012                    570.109
1795      CAN  MLN_USD  2013                    574.887
1796      CAN  MLN_USD  2014                    564.620
1797      CAN  MLN_USD  2015                    509.979
1798      CAN  MLN_USD  2016                    502.388

In [11]:
# USA
USA_CSV = tax_csv.loc[tax_csv["LOCATION"]=="USA"].loc[tax_csv["MEASURE"]=="MLN_USD"]
USA_CSV = USA_CSV[42:52]
USA_CSV

     LOCATION  MEASURE  TIME  Tax Revenue (In Millions)
2895      USA  MLN_USD  2007                   3867.405
2896      USA  MLN_USD  2008                   3781.222
2897      USA  MLN_USD  2009                   3318.696
2898      USA  MLN_USD  2010                   3515.773
2899      USA  MLN_USD  2011                   3708.707
2900      USA  MLN_USD  2012                   3888.470
2901      USA  MLN_USD  2013                   4281.928
2902      USA  MLN_USD  2014                   4526.890
2903      USA  MLN_USD  2015                   4754.048
2904      USA  MLN_USD  2016                   4821.529

In [12]:
# Mexico
MEX_CSV = tax_csv.loc[tax_csv["LOCATION"]=="MEX"].loc[tax_csv["MEASURE"]=="MLN_USD"]
MEX_CSV = MEX_CSV[27:37]
MEX_CSV

     LOCATION  MEASURE  TIME  Tax Revenue (In Millions)
2358      MEX  MLN_USD  2007                    126.466
2359      MEX  MLN_USD  2008                    139.556
2360      MEX  MLN_USD  2009                    112.288
2361      MEX  MLN_USD  2010                    135.866
2362      MEX  MLN_USD  2011                    150.586
2363      MEX  MLN_USD  2012                    152.152
2364      MEX  MLN_USD  2013                    169.579
2365      MEX  MLN_USD  2014                    179.947
2366      MEX  MLN_USD  2015                    186.055
2367      MEX  MLN_USD  2016                    179.484

In [13]:
# Brazil
BRA_CSV = tax_chi_cbg.loc[["Brazil"]]
BRA_CSV

,Country Code,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
Country Name,,,,,,,,,,,,,,
Brazil,BRA,4.291360e+11,4.817960e+11,4.805420e+11,5.293863e+11,6.223269e+11,6.572849e+11,7.166597e+11,7.374919e+11,7.689515e+11,8.005068e+11,8.326487e+11,NaN,NaN

In [14]:
# South Korea
KOR_CSV = tax_csv.loc[tax_csv["LOCATION"]=="KOR"].loc[tax_csv["MEASURE"]=="MLN_USD"]
KOR_CSV = KOR_CSV[35:45]
KOR_CSV

     LOCATION  MEASURE  TIME  Tax Revenue (In Millions)
2281      KOR  MLN_USD  2007                    278.198
2282      KOR  MLN_USD  2008                    247.262
2283      KOR  MLN_USD  2009                    214.634
2284      KOR  MLN_USD  2010                    256.154
2285      KOR  MLN_USD  2011                    290.720
2286      KOR  MLN_USD  2012                    303.158
2287      KOR  MLN_USD  2013                    317.220
2288      KOR  MLN_USD  2014                    347.014
2289      KOR  MLN_USD  2015                    347.879
2290      KOR  MLN_USD  2016                    371.149

In [15]:
# China 
CHI_CSV = tax_chi_cbg.loc[["China"]]
CHI_CSV

,Country Code,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
Country Name,,,,,,,,,,,,,,
China,CHN,2.639182e+12,3.224826e+12,3.593023e+12,4.208582e+12,5.032027e+12,NaN,5.874921e+12,6.228802e+12,6.459369e+12,6.809299e+12,NaN,NaN,NaN

In [16]:
# Cambodia
KHM_CSV = tax_chi_cbg.loc[["Cambodia"]]

KHM_CSV.head()

,Country Code,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
Country Name,,,,,,,,,,,,,,
Cambodia,KHM,3.398033e+12,4.429845e+12,4.154019e+12,4.706229e+12,5.287416e+12,6.281727e+12,7.407590e+12,9.863731e+12,1.070714e+13,1.204483e+13,1.418309e+13,NaN,NaN

In [17]:
DEU_CSV = tax_csv.loc[tax_csv["LOCATION"]=="DEU"].loc[tax_csv["MEASURE"]=="MLN_USD"]
DEU_CSV = DEU_CSV[28:38]
DEU_CSV

     LOCATION  MEASURE  TIME  Tax Revenue (In Millions)
1984      DEU  MLN_USD  2007                   1200.351
1985      DEU  MLN_USD  2008                   1326.069
1986      DEU  MLN_USD  2009                   1233.156
1987      DEU  MLN_USD  2010                   1196.240
1988      DEU  MLN_USD  2011                   1341.915
1989      DEU  MLN_USD  2012                   1290.136
1990      DEU  MLN_USD  2013                   1379.493
1991      DEU  MLN_USD  2014                   1431.031
1992      DEU  MLN_USD  2015                   1251.146
1993      DEU  MLN_USD  2016                   1307.905

In [18]:
RUS_CSV = tax_chi_cbg.loc[["Russian Federation"]]
RUS_CSV

,Country Code,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,nan
Country Name,,,,,,,,,,,,,,
Russian Federation,RUS,5.502900e+12,6.529200e+12,5.028000e+12,6.042500e+12,8.388430e+12,9.367400e+12,9.439600e+12,1.047571e+13,8.842240e+12,7.862231e+12,9.449201e+12,NaN,NaN

In [19]:
mergea = pd.concat([CAN_CSV,USA_CSV,KOR_CSV,MEX_CSV, DEU_CSV])

In [20]:
mergea.drop("MEASURE", axis=1)
mergea.to_csv(r'C:\\Users\\carlo\\Desktop\\tax_revenueA.csv', index = None, header = True )

In [25]:
mergeb = pd.concat([RUS_CSV,KHM_CSV, CHI_CSV, BRA_CSV]).reset_index()
mergeb.to_csv(r'C:\\Users\\carlo\\Desktop\\tax_revenueB.csv', index = None, header = True )